


<div class='header-products-list'>
  {{#if savedproductsPage}}
  {{#if productsFromApi}}
  <h2>
    Saved products
  </h2>
  {{else}}
  <h2>
    No saved products yet
  </h2>
  {{/if}}
  {{/if}}
</div>

 
{{#each productsFromApi}}
<div id="table">
<form class='list-of-products-container' action="/product/details/{{this.id}}" method="POST">
  <input type="hidden" name="dealerLink" value="{{this.dealerLink}}">
  <div class='list-of-products'>
    <div class='list-of-products-box'>
      <button type="submit" class="button-to-open-product-details list-products">
        <div id='product-card' >
                
    <img  class="card-img-top"  src="{{this.api_featured_image}}" alt='{{this.name}}'  /> 

         <div class="card-body">
            <h4  class="card-title">
         
              {{this.name}}
            
            </h4>
            <h5"card-text">{{this.brand}}</h5>
            {{!-- <hr style="border-top: 2px solid black"> --}}
            {{this.category}}
           
         {{!-- <a class="btn btn-primary" href="{{this.product_link}}">Buy Now --}}

           </a>

            <h5 class="card-text">
            {{!-- ${{this.price}}0 --}}
            </h5>
     <a class="btn btn-primary" href="{{this.dealerLink}}">Buy Now

            </a>
          </div>
        </div>
      </button>
    </div>
  </div>
</form>
</div>
{{#if ../usersListOfVehicles}}
<form action="/profile/savedproducts/delete/{{this.id}}" method='GET'>
  <button type='submit' class='btn btn-danger'>Remove From Saved List</button>
</form>
{{/if}}
{{/each}}
{{#if errorMessage}}
{{errorMessage}}
{{/if}} 


