<div id="vehicle-details-section">
  <div class="errorDeletioen">{{#if errorDeletion}}
    <a class='error-banner' href="/product/{{responseFromTheAPI.id}}">
      <div class='action-error-message error'>
        <i>
          {{errorDeletion}}
        </i>
        <p>
          Close X
        </p>
      </div>
    </a>
    {{/if}}
  </div>
  <div class='vehicle-details'>
    <div id="vehicle-details-div">

      <div class='set-of-pictures-left-side'>
        <img class='main-image' src="{{vehicle.image_link}}" alt="image of {{vehicle.name}} vehicle" />
      
      </div>
      <div class='main-details'>
      
        <hr style="border-top: 1px solid lightgray">

        <div style="font-weight: bold; color:gray">
      {{ vehicle.name }} | {{ vehicle.brand }}
        </div>
        <div id="details-price-mileage">
          <div id='details-price'>
            <h2>${{vehicle.price}}0</h2>
          </div>
          {{!-- <div id='details-mileage'>
            <h2>{{ vehicle.mileage}} miles</h2>
          </div> --}}
        </div>
       
       <p>{{vehicle.tag_list}}</p>
        <p id='vehicle-main-description'>{{vehicle.description}}</p>
        
        <div class='save'>
          <form action="/profile/savedvehicles" method="POST" class="save-buy-buttons">
            <input type='hidden' name="userName" value={{user}} />
            <input type='hidden' name="id" value={{vehicle.id}} />
            <input type='hidden' name="name" value={{vehicle.name}} />
            <input type='hidden' name="brand" value={{vehicle.brand}} />
            <input type='hidden' name="dealerLink" value={{dealerLink}} />
            <button type='submit' class='btn btn-success'>
              {{#if isSaved}}
              Saved
              {{else}}
              Save This Vehicle
              {{/if}}
            </button>
          </form>
          <form action="{{vehicle.product_link}}" class="save-buy-buttons">
            <button type='submit' class='btn btn-info'>
              Buy
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>