{{!-- 


<div class='header-vehicles-list'>
  {{#if savedproductsPage}}
  {{#if vehiclesFromApi}}
  <h2>
    Saved Vehicles
  </h2>
  {{else}}
  <h2>
    No saved vehicles yet
  </h2>
  {{/if}}
  {{/if}}
</div>
<table class="table ">
 
{{#each vehiclesFromApi}}
<form action="/product/details/{{this.id}}" method="POST">
  <input type="hidden" name="product_link" value="{{this.product_api_url}}">
  <div class='list-of-vehicles'style="display:flex; flex-direction: row">
    <div class='list-of-vehicles-box'>
      <button type="submit" class="button-to-open-vehicle-details list-vehicles">
        <div id='product-card' style="width: 18rem;">
                
    <img  class="card-img-top"  src="{{this.api_featured_image}}" alt=''  width="50px"/> 

         <div class="card-body">
            <h4  class="card-title">
           
              {{this.name}}
            
            </h4>
            <h5"card-text">{{this.brand}}</h5>
            {{!-- <hr style="border-top: 2px solid black"> --}}
            {{this.category}}
           
         {{!-- <a class="btn btn-primary" href="{{this.product_link}}">Buy Now

            </a> --}}
{{!--  
            <h5 class="card-text">
            ${{this.price}}0
            </h5>
     <a class="btn btn-primary" href="{{this.product_link}}">Buy Now

            </a>
          </div>
        </div>
      </button>
    </div>
  </div>
</form>
</table>
{{#if ../usersListOfVehicles}}
<form action="/profile/savedproducts/delete/{{this.id}}" method='GET'>
  <button type='submit' class='btn btn-danger'>Remove From Saved List</button>
</form>
{{/if}}
{{/each}}
{{#if errorMessage}}
{{errorMessage}}
{{/if}} --}}


<div class='header-vehicles-list'>
  {{#if savedVehiclesPage}}
  {{#if vehiclesFromApi}}
  <h2>
    Saved Vehicles
  </h2>
  {{else}}
  <h2>
    No saved vehicles yet
  </h2>
  {{/if}}
  {{/if}}
</div>
{{#each vehiclesFromApi}}
<form action="/product/details/{{this.id}}" method="POST">
  <input type="hidden" name="dealerLink" value="{{this.clickoffUrl}}">
  <div class='list-of-vehicles'>
    <div class='list-of-vehicles-box'>
      <button type="submit" class="button-to-open-vehicle-details list-vehicles">
        <div id='vehicle-card'>
          <img id='vehicle-primary-img' src="{{this.primaryPhotoUrl}}" alt='' />
          <div class='vehicle-info'>
            <h4 class='vehicle-year-make'>
              {{this.name}}
              {{this.brand}}
              {{this.model}}
            </h4>
            {{!-- <hr style="border-top: 2px solid black"> --}}
            {{this.bodyStyle}}
            <h6>
                Exterior
            </h6>{{this.displayColor}}
            <h6>
                Location
            </h6>{{this.city}}, {{this.state}}
            <h5>
              {{this.mileage}} | {{this.price}}
            </h5>
          </div>
        </div>
      </button>
    </div>
  </div>
</form>
{{#if ../usersListOfVehicles}}
<form action="/profile/savedvehicles/delete/{{this.id}}" method='GET'>
  <button type='submit' class='btn btn-danger'>Remove From Saved List</button>
</form>
{{/if}}
{{/each}}
{{#if errorMessage}}
{{errorMessage}}
{{/if}}