 <!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  

  /* Full height image header */
 

</style>

<body>





    <!-- Header with full-height image -->
    <header class="index-selection">
      <div class="index-sign-search">
<section class="sign-login-homepage">
        <a class="homepage-button" href="/auth/signup">Sign Up</a> 
           <a class="homepage-button" href="/auth/login">Login</a> 
</section>

      {{!-- <img src="images/white-background.jpeg" class="bigimg" alt="white background"> --}}
      <div class="search-sign-homepage" >
        
        {{!-- <span class="w3-jumbo w3-hide-small"></span><br> --}}
        {{!-- <span class="w3-xxlarge w3-hide-large w3-hide-medium">Start something that matters</span><br> --}}
        {{!-- <p><a href="#about" id="learn-text" --}}
            {{!-- class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn
            more and start today</a></p> --}}
            {{!-- <a class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" href="/auth/signup">Sign Up</a> 
           <a class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off" href="/auth/login">Login</a>  --}}
           <div id='main-search-area'>
             <div class="box-dsiplay">
   
   
    <form id='search-form' action='/product' method='POST' autocomplete='off'>
      <div class='form__group'>
        <input
          autofocus
          list='select'
          name='brand'
          class='form__input_make'
          placeholder='Brand'
        />
        <datalist class='form-control-datalist' id='select'>
          <option value='colourpop'></option>
          <option value='covergirl'></option>
           <option value='maybelline'></option>
         
          
         
        </datalist>
        <input
          type='text'
          class='form__input'
          id='category'
          placeholder='Category'
          name='category'
        />
      
      </div>
      <button type='submit' class='search-button'>
        Search
      </button>
    </form>
  </div>
</div>
      </div>
      </div>
<section class="animation-homepage">
     <div class="box box10"></div>
<div class="box box9"></div>
<div class="box box8"></div>
<div class="box box7"></div>
<div class="box box6"></div>
<div class="box box5"></div>
<div class="box box4"></div>
<div class="box box3"></div>
<div class="box box2"></div>
<div class="box box1"></div>
<div class="box box0"></div>
<div class="title">BULK BEAUTY</div>
</div>
</section>



    </header>

<div class='main-section' >
  <h1 id="you-might-like">
    You Might Like
  </h1>
  <div class='set-of-products'>
    {{#each productsFromApi}}
      <form 
        class='products-card-index-page'
        action="/product/details/{{this.id}}"
        method='POST'
      >
        <input  type='hidden' name='dealerLink' value="{{this.dealerLink}}" />
        <div class='numbers-reviews-badge'>
          <p>
            {{this.reviewLength}} <span class="reviews-badge-text">reviews</span> 
          </p>
        </div>
        <button type='submit' class='button-to-mightlike-product-list'>
          <div class='product-card'>
            <img class='product-img' src="{{this.api_featured_image}}" alt='{{this.name}}' width="" />
            <h6>
              <b>{{this.name}}</b>
            </h6>
            <h6>
            {{this.brand}}
            </h6>
            <h6>
              ${{this.price}}0
            </h6>
           
          </div>
        </button>
      </form>
    {{/each}}
    {{#if errorMessage}}
      <p>
        {{errorMessage}}
      </p>
    {{/if}}
  </div>
</div>


    <!-- About Section -->
    {{!-- <div class="w3-container" style="padding:128px 16px" id="about">
      <h3 class="w3-center">ABOUT THE COMPANY</h3>
      <p class="w3-center w3-large">Key features of our company</p>
      <div class="w3-row-padding w3-center" style="margin-top:64px">
        <div class="w3-quarter">
          <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
          <p class="w3-large">Responsive</p>
          <p>If you have a particular makeup look you want to find, simply upload the image and let our database for
            you.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Passion</p>
          <p>Like a certain look? Save all of your favorite looks with a simple click into your favorites section in
            your profile.</p>
        </div>
        <div class="w3-quarter">
          <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
          <a href="http://localhost:3000/rankings"></a> --}}
          {{!--
          <a href="http://localhost:3000/rankings"></a> --}}

{{!-- 
          <p class="w3-large">Design</p>
          <p>Create different unique collections based on the different makeup brands shown in our database.</p>
        </div>
        <div id='top-area'>
  

        <div class="w3-quarter">
          <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
          <p class="w3-large">Support</p>
          <p>Our team works fast and efficiently to make sure we respond to everyone promptly. Your needs are our needs.
          </p>
        </div>
      </div>
    </div> --}}

{{!-- <a href="http://makeup-api.herokuapp.com/api/v1/products.json?product_type=eyeshadow">eye shadow</a> --}}





    <script>
      // Modal Image Gallery
      function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
        var captionText = document.getElementById("caption");
        captionText.innerHTML = element.alt;
      }
    </script>
    <div class="footer-container">
    <footer class=" w3-center w3-black w3-padding-64">
      <div class="footer-button-container">
      <a href="/" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
      </div>
      <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      </div>
      {{!-- <p>Powered by <a href="" title="W3.CSS" target="_blank"
          class="w3-hover-text-green">Ironhack</a></p> --}}
    </footer>
</div>

    <script>
      // Toggle between showing and hiding the sidebar when clicking the menu icon
      var mySidebar = document.getElementById("mySidebar");

      function w3_open() {
        if (mySidebar.style.display === 'block') {
          mySidebar.style.display = 'none';
        } else {
          mySidebar.style.display = 'block';
        }
      }

      // Close the sidebar with the close button
      function w3_close() {
        mySidebar.style.display = "none";
      }
    </script>


</body>

</html>
