{{!--
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{title}}</title>
   <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
   <nav>
      <a href="/"> Home</a>
      <a href="/about"> About Us</a>

      <a href="/product/list"> Product</a>

      <a href="/product/create"> Product Favorites</a>


      <a href="/product/edit/"> Edit Favorites</a>

      <a href="/rankings"> Rankings</a>

      <a href="/auth/signup"> Sign-Up</a>

      <a href="/auth/login"> Login</a>



   </nav>

   {{{body}}}


</body>

</html> --}}

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>{{siteTitle}}</title>
   <script src="https://unpkg.com/axios/dist/axios.min.js">
   </script>

   <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css'>
<link rel="stylesheet"  href="/stylesheets/style.css">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
{{!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> --}}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item w3-button w3-wide">BULK BEAUTY</a>

      <!-- Right-sided navbar links -->

      <div class="w3-right w3-hide-small">
        {{!-- <div class="collapse navbar-collapse" id="navbarSupportedContent">--}}
          {{!-- <ul class="navbar-nav ml-auto"> --}} 
            {{!-- <a href="/">Home</a> --}}
            {{!-- <a href="/about" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i>About Us</a> --}}
            {{!-- <a href="/rankings" class="w3-bar-item w3-button"><i class="fa fa-th"></i>Product search</a>
            <a href="/product" class="w3-bar-item w3-button"><i class="fa fa-th"></i> All Product</a> --}}
            <ul class="navbar-nav ml-auto">
            <div class="navbar-items-homepage">
              <li>
            <a href="/collection/create" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Create Collection </a></li>
            {{!-- <a href="/profile" class="w3-bar-item w3-button"> <i class="fa fa-user"></i>Profile Page </a> --}}
            {{!-- <a href="/auth/signup" class="w3-bar-item w3-button">Sign-Up</a>
            <a href="/auth/login" class="w3-bar-item w3-button">Login</a> --}}
               <li><a href="/profile"> <i class="w3-bar-item w3-button fa fa-user"></i>{{currentUser.firstName}}</a>
                  {{!-- <img class="w3-bar-item " src="{{currentUser.profilePic}}" alt="image of user" /> --}}
      </li>  
                     {{!-- <a href="/profile"> <i class="w3-bar-item w3-button fa fa-user"></i>{{currentUser.firstName}}</a> --}}
       
   <li>
                 <a href="/auth/logout" class="w3-bar-item w3-button">Logout</a>
                 </li>
            {{!-- <a href="/collection/upload/" class="w3-bar-item w3-button">Upload Image</a> --}}
         </div>
          </ul>
        </div>

        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a>
      </div>
    </div>

    <!-- Sidebar on small screens when clicking the menu icon -->
    <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
      style="display:none" id="mySidebar">
      <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
      <a href="/product" onclick="w3_close()" class="w3-bar-item w3-button">ALL PRODUCTS</a>
      {{!-- <a href="/rankings" onclick="w3_close()" class="w3-bar-item w3-button">PRODUCT SEARCH</a> --}}
      <a href="/collection/create" onclick="w3_close()" class="w3-bar-item w3-button">CREATE COLLECTION</a>
       <a href="/user/profile" onclick="w3_close()" class="w3-bar-item w3-button">MY PROFILE</a> 
      <a href="/auth/logout" onclick="w3_close()" class="w3-bar-item w3-button">LOGOUT</a>
    </nav>










  {{!-- <div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
      <a href="/" class="w3-bar-item">BULK BEAUTY</a> --}}

      <!-- Right-sided navbar links -->

      {{!-- <div class="w3-right w3-hide-small">
     <nav class="authNav">
            <ul class="nav justify-content-end"> 
            <li>
                    <a href="/auth/logout" id="logout-nav"  class="w3-button">Logout</a></li>
          
        <li>
                  <img class="w3-button" src="{{currentUser.profilePic}}" alt="image of user" />
      
                     <a href="/profile"> <i  id="profile-nav" class="w3-button"></i>{{currentUser.firstName}}</a></li>
                  <li><a href="/collection/create" id="create-nav" class=" w3-button"><i class="fa fa-th"></i> Create Collection </a></li>
            --}}
                 {{!-- <a href="/auth/logout" class="w3-bar-item w3-button">Logout</a> --}}
{{!--            
          </ul>
          </nav>
        </div> --}}

        <!-- Hide right-floated links on small screens and replace them with a menu icon -->

        {{!-- <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
          onclick="w3_open()">
          <i class="fa fa-bars"></i>
        </a> --}}
      </div>
    </div>







   <main class="hompage-body">
      {{{body}}}
   </main>

   <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
      integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
      crossorigin="anonymous"></script>

   <script src="/js/script.js"></script>
</body>

</html>